.htmllogin { 
    background: lightblue url("../img/olivofondo1.jpg")  center  fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    opacity: 1;
    width: 40%;
}


.bodyportal, .htmlportal {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #777;
   overflow: hidden;
}
.imagenFondo{
    background-image:url(http://i.imgur.com/aBayW5C.png);
    height: 100%;
    
}
.imagenFondo {
  position: relative;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.caption {
    width: 1500px;
    margin: auto;
    background-color: rgba(255,255,255,.8);
    overflow: hidden;
    height: 100%;
}

.caption span.border {

  color: #F39C12;
  padding: 18px;
  font-size: 30px;
  
}

img{
    display: block;
    margin: auto;
    width: 100%;
    height: auto;

    padding-top: 5px;
    padding-right: 610px;
    padding-bottom: 0px;
    padding-left: -120px;
}

#login-button{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 60%;
    background: rgba(210, 180, 222,.1);
    overflow: hidden;
    opacity: 1;
    box-shadow: 10px 10px 30px #000;}


#remember{
    position: absolute;
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.5);
    top: 7px;
    left: 20px;
}

/* Login container */
#container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 460px;
    border-radius: 5px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}

#container-login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 460px;
    border-radius: 5px;
    background: rgba(211, 84, 0,.1);
    box-shadow: 1px 1px 50px #000;
    display: none;
}
#container-portal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 360px;
    height: 460px;
    border-radius: 5px;
    background: rgba(254, 254, 254,.1);
    box-shadow: 1px 1px 50px #000;
    display: none;
}
#container-pueblo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 1900px;
    height: 610px;
    border-radius: 5px;
    background: rgba(254, 254, 254,.9);
    box-shadow: 1px 1px 20px #000;
   /* display: none;*/
    overflow-x: scroll;
}


.close-btn, .close-btn-recuperar,.close-btn-portal{
    position: absolute;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 18px;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;

    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.close-btn:hover{
    opacity: .5;
}

/* Heading */
.h1-login{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 70px;
    color: #F39C12;
    text-shadow: 3px 3px 10px #000;
}
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 70px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

h3{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: rgba(247, 250, 8 ,1);
    text-shadow: 3px 3px 10px #000;
}


/* Inputs */
.ab,
input{
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    position: relative;
    width: 80%;

    display: block;
    margin: 9px auto;
    font-size: 27px;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    border: 0.2;
    background: rgba(3,66,3,.1);
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

input:focus{
    outline: none;
    box-shadow: 3px 3px 10px #333;
    background: rgba(3,3,3,.18);
}
.submit {
    width: 86%;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgba(107,255,3,0.3);
    border-radius: 8px 8px 8px 8px;
    font-size: 27px;
    color: #fff;
}

.submit:hover {
    opacity: 0.7;
}

/* Placeholders */
::-webkit-input-placeholder {
    color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
    color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
    color: red;  }
:-ms-input-placeholder {  
    color: #333;  }

/* Link */
#ab{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding: 4px 8px;
    background: rgba(107,255,3,0.3);
}

ab:hover{
    opacity: 0.7;
}

#remember-container{
    position: relative;
    margin: -5px 20px;
}


#forgotten{
    position: absolute;
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.5);
    right: 0px;
    top: 8px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#registro{
    position: relative;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    color: rgba(255,255,255,.5);

    top: 8px;
    cursor: pointer;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#forgotten:hover{
    color: rgba(255,255,255,.6);
}
#registro:hover{
    color: rgba(255,255,255,.6);
}


#forgotten-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    height: 490px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 50px #000;
    display: none;
}
#registro-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 460px;
    height: 530px;
    border-radius: 10px;
    background: rgba(3,3,3,0.25);
    box-shadow: 1px 1px 100px #000;
    display: none;
}

.orange-btn{
    background: rgba(199, 213, 24,1);
}

.red-btn{
    background: rgba(255, 11, 22,1);
}

label.error {
    
    
    display: block;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    color: orangered;
    font-weight:600;
}

input.error {
    border: 2px dashed orangered;
    font-weight: 300;
    color: rgba(255, 11, 22,1);
}

